<div class="box gradient">
<div class="title">
	<h4>
	<span>Telefonos</span>
	</h4>
</div>
<div class="content noPad clearfix">
  <table  cellpadding="0" cellspacing="0" border="0" class="responsive dynamicTable display table table-bordered" width="100%">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Numero</th>
    <th>Dependencia</th>
    <th>Comentarios</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
   <tbody>
<% @phones.each do |phone| %>
  <tr>
    <td><%= phone.name %></td>
    <td><%= phone.numbers %></td>
    <td><%= phone.dependency_id %></td>
    <td><%= phone.comments %></td>
    <td><i class='icon-eye-open'></i>  <%= link_to 'Show', phone %></td>
    <td><i class="icon-pencil"> </i><%= link_to 'Edit', edit_phone_path(phone) %></td>
    <td><i class="icon-trash"> </i><%= link_to 'Destroy', phone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
<tfoot>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Numero</th>
                                                <th>Dependencia</th>
                                                <th>Comentarios</th>
                                                <th></th>
                                                <th></th>
                                                 <th></th>
                                            </tr>
                                        </tfoot>
</table>

</div>
</div>

<%= link_to 'New Phone', new_phone_path %>
