<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @phone.name %>
</p>

<p>
  <b>Numbers:</b>
  <%= @phone.numbers %>
</p>

<p>
  <b>Dependency:</b>
  <%= @phone.dependency_id %>
</p>

<p>
  <b>Comments:</b>
  <%= @phone.comments %>
</p>

<%= link_to 'Modificar',  edit_phone_path(@phone), :class=>'btn btn-mini '%>
<%= link_to 'Regresar',  phones_path , :class=>'btn btn-mini '%>
