<div class="box gradient">
<div class="title">
	<h4>
	<span>Dependencias</span>
	</h4>
</div>
<div class="content noPad clearfix">
  <table  cellpadding="0" cellspacing="0" border="0" class="responsive dynamicTable display table table-bordered" width="100%">
  <thead>
  <tr>
     <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
   <tbody>
<% @dependencies.each do |dependency| %>
  <tr>
    <td><%= dependency.name %></td>
    <td>  <i class='icon-eye-open'></i> <%= link_to " Detalle", dependency %></td>
    <td><i class="icon-pencil"> </i> <%= link_to 'Modificar', edit_dependency_path(dependency) %></td>
    <td><i class="icon-trash"> </i>  <%= link_to 'Borrar', dependency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
<tfoot>
	<tr>
	<th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
	</tr>
</tfoot>
</table>

</div>
</div>

<%= link_to 'Nueva dependencia', new_dependency_path,:class=>'btn btn-info' %>
