<!DOCTYPE html>
<html>
<head>
  <title>DirectorioApp...</title>
  <%= stylesheet_link_tag    "application", :media => "all" , :cache => false  %>
 <%= stylesheet_link_tag  "plugins/dataTables/jquery.dataTables"%>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="qLoverlay"></div>
<div id="qLbar"></div>
	<div id="header">

        <div class="navbar">
            <div class="navbar-inner">
              <div class="container-fluid">
                <a href="dashboard.html" class="brand">Supr.<span class="slogan">admin</span></a>
                <div class="nav-no-collapse">
                    <ul class="nav">
                        <li class="active"><a href="dashboard.html"><span class="icon16 icomoon-icon-screen"></span> Dashboard</a></li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="icon16 icomoon-icon-cog"></span> Settings
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="menu">
                                    <ul>
                                        <li>                                                    
                                            <a href="#"><span class="icon16 iconic-icon-new-window"></span>Site config</a>
                                        </li>
                                        <li>                                                    
                                            <a href="#"><span class="icon16 icomoon-icon-wrench"></span>Plugins</a>
                                        </li>
                                        <li>
                                            <a href="#"><span class="icon16 icomoon-icon-picture-2"></span>Themes</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="icon16 icomoon-icon-mail"></span>Messages <span class="notification">8</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="menu">
                                    <ul class="messages">    
                                        <li class="header"><strong>Messages</strong> (10) emails and (2) PM</li>
                                        <li>
                                           <span class="icon"><span class="icon16 icomoon-icon-user-2"></span></span>
                                            <span class="name"><a href="#myModal1" data-toggle="modal"><strong>Sammy Morerira</strong></a><span class="time">35 min ago</span></span>
                                            <span class="msg">I have question about new function ...</span>
                                        </li>
                                        <li>
                                           <span class="icon avatar"><img alt="" src="/assets/avatar.jpg"></span>
                                            <span class="name"><a href="#myModal1" data-toggle="modal"><strong>George Michael</strong></a><span class="time">1 hour ago</span></span>
                                            <span class="msg">I need to meet you urgent please call me ...</span>
                                        </li>
                                        <li>
                                            <span class="icon"><span class="icon16 icomoon-icon-mail"></span></span>
                                            <span class="name"><a href="#myModal1" data-toggle="modal"><strong>Ivanovich</strong></a><span class="time">1 day ago</span></span>
                                            <span class="msg">I send you my suggestion, please look and ...</span>
                                        </li>
                                        <li class="view-all"><a href="#">View all messages <span class="icon16  icomoon-icon-arrow-right-7"></span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                  
                    <ul class="nav pull-right usernav">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="icon16 icomoon-icon-bell"></span><span class="notification">3</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="menu">
                                    <ul class="notif">
                                        <li class="header"><strong>Notifications</strong> (3) items</li>
                                        <li>
                                            <a href="#">
                                                <span class="icon"><span class="icon16 icomoon-icon-user-2"></span></span>
                                                <span class="event">1 User is registred</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="icon"><span class="icon16 icomoon-icon-comments-4"></span></span>
                                                <span class="event">Jony add 1 comment</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="icon"><span class="icon16 icomoon-icon-new"></span></span>
                                                <span class="event">admin Julia added post with a long description</span>
                                            </a>
                                        </li>
                                        <li class="view-all"><a href="#">View all notifications <span class="icon16  icomoon-icon-arrow-right-7"></span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle avatar" href="#">
                                <img class="image" alt="" src="/assets/avatar.jpg"> 
                                <span class="txt">admin@supr.com</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="menu">
                                    <ul>
                                        <li>
                                            <a href="#"><span class="icon16 icomoon-icon-user-3"></span>Edit profile</a>
                                        </li>
                                        <li>
                                            <a href="#"><span class="icon16 icomoon-icon-comments-2"></span>Approve comments</a>
                                        </li>
                                        <li>
                                            <a href="#"><span class="icon16 entypo-icon-contact"></span>Add user</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="index.html"><span class="icon16 icomoon-icon-exit"></span> Logout</a></li>
                    </ul>
                </div><!-- /.nav-collapse -->
              </div>
            </div><!-- /navbar-inner -->
          </div><!-- /navbar --> 

    </div>
    <div id="wrapper">
    	<div class="resBtn">
            <a href="#" class=""><span class="icon16 minia-icon-list-3"></span></a>
        </div>
        <div class="collapseBtn">
             <a class="tipR" href="#" oldtitle="Hide sidebar" title=""><span class="icon12 minia-icon-layout"></span></a>
        </div>
        <div id="sidebarbg"></div>
        <div id="sidebar">

            <div class="shortcuts" style="">
                <ul>
                    <li><a class="tip" href="#" oldtitle="Support section" title="" aria-describedby="ui-tooltip-0"><span class="icon24 wpzoom-support"></span></a></li>
                    <li><a class="tip" href="#" oldtitle="Database backup" title=""><span class="icon24 icomoon-icon-database"></span></a></li>
                    <li><a class="tip" href="#" oldtitle="Sales statistics" title=""><span class="icon24 iconic-icon-chart"></span></a></li>
                    <li><a class="tip" href="#" oldtitle="Write post" title="" aria-describedby="ui-tooltip-3"><span class="icon24 icomoon-icon-pencil"></span></a></li>
                </ul>
            </div><!-- End search -->            

            <div class="sidenav" style="">

                <div style="margin: 2px 0 0 0;" class="sidebar-widget">
                    <h5 style="margin-bottom:0" class="title">Navigation</h5>
                </div><!-- End .sidenav-widget -->

                <div class="mainnav">
                    <ul>
                    	 <li>
                            <a href="#" class="hasUl"><i class="icon16 icon-tag"></i>Telefonos<span class="hasDrop icon16 icomoon-icon-arrow-down"></span></a>
                            <ul class="sub">
                                <li><a href="/phones"><span class="icon16 icomoon-icon-paper"></span>Listado</a></li>
                                <li><a href="/phones/new"><span class="icon16 icomoon-icon-paper"></span>Agregar</a></li>
                            </ul>
                            </li>
                        <!--<li>greg
                            <a href="#" class="hasUl"><span class="icon16 minia-icon-list-4"></span>Forms<span class="hasDrop icon16 icomoon-icon-arrow-down"></span></a>
                            <ul class="sub">
                                <li><a href="forms.html"><span class="icon16 icomoon-icon-paper"></span>Forms Stuff</a></li>
                                <li><a href="forms-validation.html"><span class="icon16 icomoon-icon-paper"></span>Validation</a></li>
                            </ul>
                        </li>-->
                       
                       
                        <li><a href="#"> <i class="icon-folder-close"></i> Dependencias</a><ul class="sub">
                                <li><a href="/dependencies"><span class="icon16 icomoon-icon-paper"></span>Listado</a></li>
                                <li><a href="/dependencies/new"><span class="icon16 icomoon-icon-paper"></span>Agregar</a></li>
                            </ul>
                            </li>
                    </ul>
                </div>
            </div><!-- End sidenav -->

         
        </div>
    </div>
	<div id="mainBody">
	 	<div id="content" class="clearfix">
		<div class="contentwrapper">
		<div class="heading">
                    <h3>Dashboard</h3>                    

                    <div class="resBtnSearch">
                        <a href="#"><spabznHJZGXhXvbHXbzBXvx vn class="icon16 brocco-icon-search"></span></a>
                    </div>

                    <div class="search">

                        <form action="search.html" id="searchform">
                            <input type="text" placeholder="Search here ..." class="top-search text" id="tipue_search_input">
                            <input type="submit" value="" class="search-btn nostyle" id="tipue_search_button">
                        </form>
                
                    </div><!-- End search -->
                    
                    <ul class="breadcrumb">
                        <li>You are here:</li>
                        <li>
                            <a class="tip" href="#" oldtitle="back to dashboard" title="">
                                <span class="icon16 icomoon-icon-screen"></span>
                            </a> 
                            <span class="divider">
                                <span class="icon16 icomoon-icon-arrow-right"></span>
                            </span>
                        </li>
                        <li class="active">Dashboard</li>
                    </ul>

                </div>
            <div class="row-fluid">

                        <div class="span12">
              <%= yield %>
              </div>
              </div>
		</div>
		</div>

		
		</div>
	

</body>
</html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" ></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js" type="text/javascript"></script>
<%=javascript_include_tag "bootstrap","plugins/dataTables/jquery.dataTables.min","plugins/sparkline/jquery.sparkline.min","plugins/responsive-tables/responsive-tables","plugins/animated-progress-bar/jquery.progressbar","rails","plugins/knob/jquery.knob","zmain"%>
<script>
$(document).ready(function() {
				$('#tabla').dataTable( {
					"sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>",
					"sPaginationType": "bootstrap",
					"oLanguage": {
						"sLengthMenu": "_MENU_ records per page"
					}
				} );
			} );
</script>
